@model ChallengeSubmission

@{
    ViewData["Title"] = ViewBag.ChallengeData.ChallengeName;
}

@section CustomStyle
{
    <style>
        #ChallengeDisplay{
            border: solid black;
            border-width: thin;
            border-radius: 25px;
            background-color: lightyellow;
        }
        #DifficultyBubble
        {
            background-color: lightgreen;
            margin-top: 10%;
            border-radius: 30px;
            padding: 10px 30px;
            display:inline-block;
        }
        #ChallengeDescription
        {
            padding: 0px 3%;
        }
        #Submission
        {
            background-color: lightgray;
            border-radius: 10px;
            margin-left: 15px;
        }
        .Error
        {
            color: red;
            font: italic;
            text-align: center;
            display: table;
            margin: 0 auto;
            height: 30px;
        }
    </style>
}

<div class="container">
    <div class="row">
        <div class="col-md-8" id="ChallengeDisplay">
            <div class="row">
                <div style="width: 66.66666667%;">
                    <h1 class="display-4">@ViewBag.ChallengeData.ChallengeName</h1>
                    <h6 style="padding-left: 15px">Submitted by: @ViewBag.ChallengeData.AuthorName</h6>
                </div>
                <div style="width: 33.33333333%;">
                    <div class="float-end" id="DifficultyBubble">
                        @ViewBag.ChallengeData.DifficultyFancyFormat()
                    </div>
                </div>
            </div>
            <hr />
            <div class="row" id="ChallengeDescription">
                <p>@ViewBag.ChallengeData.Description</p>
            </div>
        </div>
        <div class="col-md-3" id="Submission">
            <div class="Error">@ViewBag.ErrorString</div>

            <h6>Accepted file types:</h6>
            <p><i>.cs | .cpp | .java | .py</i></p>
            <form enctype="multipart/form-data" asp-action="ChallengeSubmission" method="post">
                <input type="file" asp-for="@Model.File" accept=".cs, .cpp, .java, .py" required/>
                <input type="hidden" asp-for="@Model.Id" value="@ViewBag.ChallengeData.Id"/>
                <input style="margin-top: 10px" type="submit" value="Submit"/>
            </form>
        </div>
    </div>
</div>
